---
page_title: "Self-hosted Infra"
subcategory: ""
description: |-
---

# Self-hosted Infra

While the Infra provider is designed for our Software-as-a-Service offering, it can also be configured to work with a self-hosted deployment of Infra server. This guide will describe that process.

## Requirements

You will need an existing Infra server deployment version >= 0.18.0.

## Configure

The Infra provider can be configured with the Infra server URL by changing the `host` configuration value.

{{ tffile "examples/provider/self-hosted.tf" }}

If you are using a self-signed certificate for the server, you may also need to install the server certificate.

{{ tffile "examples/provider/self-hosted-certificate.tf" }}

The server certificate can also be configured as a file.

{{ tffile "examples/provider/self-hosted-certificate-file.tf" }}

These options can also be configured with environment variables. See the provider [schema](#schema) for details.
