---
page_title: Infra Provider
description: Infra Terraform provider. Please visit https://docs.infrahq.com to get started.
---

# Infra

[Infra](https://infrahq.com) provides authentication and access management to servers, clusters, and databases.

## Terraform Provider

Infra's Terraform provider is used to automate the configuration of Infra.

The individual resources that can be automated:

- Connecting identity providers
- Managing groups
- Managing users
- Assigning users to groups

### Get Started

The Infra provider must be configured with an access key in order to authenticate with the API server. The access key, and other arguments, can be configured in two ways: through Terraform as provider configuration or through environment variable.

#### Terraform Provider Configuration

```terraform
# Configure Infra Terraform provider.
provider "infra" {
  access_key = "xxxxxxxxxx.yyyyyyyyyyyyyyyyyyyyyyyy"
}
```

Note: Access key can be retrived using the methods listed in [Quickstart documentation](https://infrahq.com/docs/quickstart#create-an-access-key).

#### Environment Variables

The access key can be sourced from the `INFRA_ACCESS_KEY` environment variable.

```terraform
provider "infra" {}
```

```shell
$ export INFRA_ACCESS_KEY='xxxxxxxxxx.yyyyyyyyyyyyyyyyyyyyyyyy'
$ terraform plan
```

{{ .SchemaMarkdown | trimspace }}
